@import "@fortawesome/fontawesome-free/css/all.css";
@import "./LoadingIcon/LoadingIcon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

input[type=number] {
  -moz-appearance: textfield;
}

img {
    max-width: 100%;
    max-height: 100%;
}